.container {
    display: flex;
    flex-direction: column;
    padding: var(--spacer);
    gap: var(--small-spacer);
    text-align: left;
    border-radius: var(--c-radius);
    box-shadow: var(--b-shadow);

    max-width: 360px;
    min-width: 320px;
    width: 100%;
}

.top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        font-size: 1.875rem;
        font-weight: 500;
    }
}

.last_edited {
    font-size: 0.875rem;
    color: var(--text-dark-gray);
}

.description {
    font-size: 1rem;
}

.kebab_button {
    .kebab {
        font-size: 1.5rem;
    }
}