.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--breadcrumb-height) 1fr;
    grid-template-areas: 
        "sidebar breadcrumb"
        "sidebar content"
}

.sidebar {
    grid-area: sidebar;
}

.breadcrumb {
    grid-area: breadcrumb;
}

.content {
    grid-area: content;
    overflow-y: scroll;
    position: relative;
}