:root {
    --primary: #3C257E;
    --primary-medium-dark: rgba(60, 37, 126, 0.30);
    --primary-medium: rgba(74, 14, 244, 0.10);
    --primary-light: #F7F1FF;
    --primary-alternative: #9747FF;
    
    --red: #F70000;

    --background-primary: #F7F7F7;
    --background-medium-gray: #E8E8E8;
    --background-light: #FFFFFF;
    --background-light-purple: #FDFBFF;

    --background-dark: black;
    --background-light-gray: #AEAEAE;
    --background-lighter-gray: #DFDBED;

    --text-dark: black;
    --text-darker-gray: #333;
    --text-dark-gray: #6A6A6A;
    --text-medium-gray: #666666;
    --text-light-gray: #AEAEAE;
    --text-light: white;

    --text-placeholder: #808080;
    
    --hover: #F7F7F7;
}
