:root {
    --primary: #3C257E;
    --primary-light: #F7F1FF;
    --primary-alternative: #9747FF;
    
    --red: #F70000;

    --background-primary: #F7F7F7;
    --background-medium-gray: #E8E8E8;
    --background-light: #FFFFFF;
    --background-light-purple: #FDFBFF;

    --background-dark: black;
    --background-light-gray: #AEAEAE;

    --text-dark: black;
    --text-dark-gray: #6A6A6A;
    --text-medium-gray: #666666;
    --text-light-gray: #AEAEAE;
    --text-light: white;

    --hover: #F7F7F7;
}
