@use "media";

:root {
    /* spacers */
    --tinier-spacer: 4px;
    --tiny-spacer: 8px;
    --small-spacer: 16px;
    --spacer: 24px;
    --small-medium-spacer: 32px;
    --medium-spacer: 48px;
    --large-medium-spacer: 56px;
    --large-spacer: 80px;
    --enormous-spacer: 144px;
}
