@use 'media';

.header {
    margin: var(--medium-spacer) var(--large-spacer);
}

.back-button, .draft_button, .publish_button{
    font-family: var(--font-dm-sans);
    padding: var(--small-spacer) var(--large-spacer);
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
    cursor: pointer;
}

.back_button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacer);
    width: max-content;
    margin: var(--spacer);
    padding: var(--small-spacer) var(--spacer);
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
    cursor: pointer;
}

.content_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: var(--medium-spacer);
    margin: var(--large-spacer) 0;
    @include media.tablet {
       flex-direction: column;
    }
}

.publish_button{
    background: #3C257E4D;
    color: var(--text-light);
    transition: all 0.2s ease-in;
}

.publish_button:hover {
    background-color: var(--primary);
}