@use 'media';
.container {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 var(--spacer);
    gap: var(--spacer);
    align-items: center;
    border-bottom: 2px solid var(--background-medium-gray);
    background-color: var(--background-primary);
}
  
  .listItem {
    font-weight: 700;
    color: var(--text-light-gray);
    list-style-type: none;
  }
  
  .listItem:hover {
    text-decoration: underline;
  }
  
  .activeItem {
    color: var(--text-dark);
    font-weight: 700;
  }
  