.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    display: none;
    background-color: var(--background-primary);
    overflow-y: scroll;
    padding-bottom: var(--enormous-spacer);

    &.visible {
        display: flex;
    }
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0 var(--medium-spacer);
    gap: var(--spacer);

    .title {
        font-size: 3rem;
        font-weight: 700;
    }
}

.data_container {
    display: flex;
    flex-direction: column;
    margin: var(--medium-spacer) 0;
    gap: var(--medium-spacer);
}

.button_container {
    display: flex;
    flex-direction: row;
    gap: var(--spacer);
    justify-content: center;
    margin-top: var(--medium-spacer);

    .attach, .exit_button {
        border-radius: 8px; 
        box-shadow: 0px 4px 35px 0px rgba(60, 37, 126, 0.40);
        display: flex;
        padding: 20px 36px;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: var(--font-dm-sans);
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--text-light);
    }

    .attach {
        background: var(--primary);
        width: 480px;
    }

    .exit_button {
        background: var(--red);
        padding: 20px 58px;
    }
}