@use 'media';

.form_container {
    display: flex;
    flex-direction: column;
    margin: var(--medium-spacer) var(--large-spacer);
    gap: var(--medium-spacer);
}

.row_col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include media.tablet {
        flex-direction: column;
        gap: var(--medium-spacer);
    }
}

.input_container{
    display: flex;
    flex-direction: column;
    gap: var(--small-spacer);

    label{
        font-size: 1.5rem;
    }

    input {
        height: 60px;
        border: none;
        padding: var(--small-spacer);
        border-left: 4px solid var(--primary);
        border-radius: var(--b-radius);
        box-shadow: var(--b-shadow);
        font-size: 1.1rem;
    }
}

.title_container {
    width: 60%;
    @include media.tablet {
        width: 100%;
    }
}

.date_container {
    width: 35%;
    @include media.tablet {
        width: 100%;
    }
}

.editContainer{
    box-shadow: var(--b-shadow);
    border-radius: var(--b-radius);
}