@use 'media';

.container{
    display: flex;
    flex-direction: column;
    gap: var(--small-spacer);
}

.card_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacer) var(--medium-spacer);
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
    cursor: grab;
    @include media.tablet {
        flex-direction: column;
        gap: var(--tiny-spacer);
    }
}

.name{
    font-weight: 700;
    max-width: 136px;
    @include media.tablet {
        max-width: 100%;
    }
}

.image{
    border-radius: var(--b-radius);
    object-fit: cover;
    object-position: center center;
}

.replace{
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font-dm-sans);
}

.size {
    font-family: var(--font-dm-sans);
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
    @include media.tablet {
        justify-content: center;
    }
}

.delete {
    cursor: pointer;
}

.cover_image{
    display: flex;
    align-items: center;
    color: var(--text-light);
    background-color: var(--primary);
    border-radius: var(--b-radius);
    padding: var(--tiny-spacer) var(--small-spacer);
}

.uncover_image{
    height: 39px;
    width: 124px;
    @include media.tablet {
        display: none;
    }
}

.drag_icon{
    @include media.tablet {
        transform: rotate(90deg);
    }
}

.dragging {
    opacity: 0.5;
}
  
.dragover {
    border: 2px dashed var(--text-dark);
}