.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--tiny-spacer);
    padding: var(--medium-spacer);
    border-radius: var(--b-radius);
    background-color: #4A0EF41A ;
    text-align: center;
    cursor: pointer;
}