.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--medium-spacer);

    .header_left {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: var(--tinier-spacer);

        >h1 {
            font-size: 2rem;
            font-weight: 500;
        }
        >h3 {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

    .expand_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--tiny-spacer);

        .expand_text {
            font-size: 1.25rem;
            font-weight: 500;
        }

        .expand_icon {
            font-size: 1.25rem;
            transform: rotate(180deg);

            &.expanded {
                transform: rotate(0deg);
            }
        }
    }
}