@use 'media';

.container {
  display: block;
  position: relative;
}

.create_new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: #441983;
  color: white;
  border-radius: var(--b-radius);
  box-shadow: var(--b-shadow);
  transition: background-color 0.3s ease;

//   &:hover {
//     background-color: var(--hover);
//   }

  p {
    color: var(--text-medium-gray);
  }
}