.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 430px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: var(--large-spacer);

    > h1 {
        font-family: var(--font-manrope);
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.error {
    margin-top: var(--spacer);
    text-align: center;
    color: red;
}

.field_container {
    padding: 0 var(--tiny-spacer);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login_button {
    border-radius: 16px;
    background: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-family: var(--font-dm-sans);
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--text-light);
    margin-top: var(--spacer);
}