.input {
    height: 60px;
    border: none;
    padding: var(--small-spacer);
    border-left: 4px solid var(--primary);
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
    font-size: 1.1rem;
}