.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    padding: 0 var(--medium-spacer);

    >div {
        display: flex;
        flex-direction: row;
    }
}

.top_row {
    justify-content: space-between;
    align-items: center;
    >h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .top_right {
        display: flex;
        flex-direction: row;
        gap: var(--small-spacer);
    }
}

.bot_row {
    display: flex;
    flex-direction: row;
    gap: var(--small-spacer);
}